*~
aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
COPYING
core
cscope.*
.deps/
INSTALL
_install/
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
.nfs*
*.o
README
README.html
README.txt
scripts/
stamp-h*
.*.sw[mnop]
tags
*.tar.*
*.tmp
xde-keys
xde-theme
xde-theme.man
xde-theme.man.in
xdg-assist
xdg-assist.man
xdg-autostart.man
xdg-entry.man
xdg-find
xdg-find.man
xdg-launch
xdg-launch.man
xdg-list
xdg-list.man
xdg-prefs
xdg-prefs.man
xdg-session.man
xdg-toolwait.man
xdg-types
xdg-types.man
xdg-whereis
xdg-whereis.man
xdg-which
xdg-which.man
xdg-xsession.man
