aclocal.m4
AUTHORS
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
ChangeLog
config.log
config.status
configure
configure.ac
cscope.*
.deps/
dmenu_launch.man
INSTALL
_install
*.log
Makefile
Makefile.in
NEWS
*.o
README
README.html
scripts/
stamp-h*
.*.sw[nop]
*.tar.*
xde-keys
xde-theme
xde-theme.man
xde-theme.man.in
xdg-assist
xdg-assist.man
xdg-autostart.man
xdg-entry.man
xdg-launch
xdg-launch.man
xdg-monitor
xdg-monitor.man
xdg-show
xdg-show.man
xdg-toolwait.man
xdg-whereis
xdg-whereis.man
xdg-which
xdg-which.man
xdg-xsession.man
xdg-list
xdg-list.man
xdg-types
xdg-types.man
xdg-prefs
xdg-prefs.man
