[Desktop Entry]
Type=Application
Name=Calculator
Name[af]=Rekenmasjien
Name[ar]=آلة حاسبة
Name[ast]=Calculadora
Name[as]=ক্যালকুলেটৰ
Name[az]=Hesaplayıcı
Name[be@latin]=Kalkulatar
Name[be]=Калькулятар
Name[bg]=Калкулатор
Name[bn_IN]=ক্যালকুলেটর
Name[bn]=ক্যালকুলেটর
Name[br]=Jederez
Name[bs]=RPN kalkulator
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulátor
Name[cy]=Cyfrifiannell
Name[da]=Regnemaskine
Name[de]=Taschenrechner
Name[dz]=རྩིས་འཕྲུལ།
Name[el]=Υπολογιστής Τσέπης
Name[eo]=Kalkulilo
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[eu]=Kalkulagailua
Name[fa]=ماشین حساب
Name[fi]=Laskin
Name[fo]=Roknimaskina
Name[fr]=Calculatrice
Name[fy]=Rekkenmasine
Name[ga]=Áireamhán
Name[gl]=Calculadora
Name[gu]=કેલ્ક્યુલેટર
Name[he]=מחשבון
Name[hi]=गणक
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[id]=Számológép
Name[is]=Vasareiknir
Name[it]=Calcolatrice
Name[ja]=電卓
Name[ka]=კალკულატორი
Name[km]=ម៉ាស៊ីន​គិត​លេខ
Name[kn]=ಕ್ಯಾಲ್ಕುಲೇಟರ್
Name[ko]=계산기
Name[lo]=ເຄືອ່ງມືຄິດເລກ
Name[lt]=Skaičiuotuvas
Name[lv]=Kalkulators
Name[mai]=कैलकुलेटर
Name[mg]=Milina mpikajy
Name[mk]=Калкулатор
Name[ml]=ഗണനി
Name[mn]=Тооны машин
Name[mr]=गणनयंत्र
Name[ms]=Kalkulator
Name[mt]=Kalkulatriċi
Name[nb]=Kalkulator
Name[nds]=Taschenreekner
Name[ne]=गणकयन्त्र
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[oc]=Calculeta
Name[or]=କାଲକୁଲେଟର
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt_BR]=Calculadora
Name[pt]=Calculadora
Name[ru]=Калькулятор
Name[rw]=Mubazi
Name[se]=Kalkuláhtor
Name[si]=ගණකය
Name[sk]=Kalkulačka
Name[sl]=Računalo
Name[sq]=Makinë llogaritëse
Name[sr@latin]=Kalkulator
Name[sr@Latn]=Kalkulator
Name[sr]=Калкулатор
Name[ss]=I-khalikhuletha
Name[sv]=Miniräknare
Name[ta]=கணிப்பான்
Name[te]=గణన పరికరం
Name[tg]=Мошини ҳисоб
Name[th]=เครื่องคิดเลข
Name[tk]=Çot
Name[tr]=Hesap Makinesi
Name[tt]=Sansanaq
Name[uk]=Калькулятор
Name[uz]=Калкулятор
Name[ven]=Tshithusauvhalela
Name[vi]=Máy tính
Name[wa]=Carculete
Name[xh]=Isixhobo sokubala
Name[zh_CN]=计算器
Name[zh_HK]=計數機
Name[zh_TW]=計算機
Name[zu]=Umshini Wokubala We-Gnome
GenericName=Calculator
GenericName[af]=Rekenmasjien
GenericName[ar]=آلة حاسبة
GenericName[ast]=Calculadora
GenericName[as]=ক্যালকুলেটৰ
GenericName[az]=Hesaplayıcı
GenericName[be@latin]=Kalkulatar
GenericName[be]=Калькулятар
GenericName[bg]=Калкулатор
GenericName[bn_IN]=ক্যালকুলেটর
GenericName[bn]=ক্যালকুলেটর
GenericName[br]=Jederez
GenericName[bs]=RPN kalkulator
GenericName[ca]=Calculadora
GenericName[ca@valencia]=Calculadora
GenericName[cs]=Kalkulátor
GenericName[cy]=Cyfrifiannell
GenericName[da]=Regnemaskine
GenericName[de]=Taschenrechner
GenericName[dz]=རྩིས་འཕྲུལ།
GenericName[el]=Υπολογιστής Τσέπης
GenericName[eo]=Kalkulilo
GenericName[es]=Calculadora
GenericName[et]=Kalkulaator
GenericName[eu]=Kalkulagailua
GenericName[fa]=ماشین حساب
GenericName[fi]=Laskin
GenericName[fo]=Roknimaskina
GenericName[fr]=Calculatrice
GenericName[fy]=Rekkenmasine
GenericName[ga]=Áireamhán
GenericName[gl]=Calculadora
GenericName[gu]=કેલ્ક્યુલેટર
GenericName[he]=מחשבון
GenericName[hi]=गणक
GenericName[hr]=Kalkulator
GenericName[hu]=Számológép
GenericName[id]=Számológép
GenericName[is]=Vasareiknir
GenericName[it]=Calcolatrice
GenericName[ja]=電卓
GenericName[ka]=კალკულატორი
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ
GenericName[kn]=ಕ್ಯಾಲ್ಕುಲೇಟರ್
GenericName[ko]=계산기
GenericName[lo]=ເຄືອ່ງມືຄິດເລກ
GenericName[lt]=Skaičiuotuvas
GenericName[lv]=Kalkulators
GenericName[mai]=कैलकुलेटर
GenericName[mg]=Milina mpikajy
GenericName[mk]=Калкулатор
GenericName[ml]=ഗണനി
GenericName[mn]=Тооны машин
GenericName[mr]=गणनयंत्र
GenericName[ms]=Kalkulator
GenericName[mt]=Kalkulatriċi
GenericName[nb]=Kalkulator
GenericName[nds]=Taschenreekner
GenericName[ne]=गणकयन्त्र
GenericName[nl]=Rekenmachine
GenericName[nn]=Kalkulator
GenericName[oc]=Calculeta
GenericName[or]=କାଲକୁଲେଟର
GenericName[pa]=ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kalkulator
GenericName[pt_BR]=Calculadora
GenericName[pt]=Calculadora
GenericName[ru]=Калькулятор
GenericName[rw]=Mubazi
GenericName[se]=Kalkuláhtor
GenericName[si]=ගණකය
GenericName[sk]=Kalkulačka
GenericName[sl]=Računalo
GenericName[sq]=Makinë llogaritëse
GenericName[sr@latin]=Kalkulator
GenericName[sr@Latn]=Kalkulator
GenericName[sr]=Калкулатор
GenericName[ss]=I-khalikhuletha
GenericName[sv]=Miniräknare
GenericName[ta]=கணிப்பான்
GenericName[te]=గణన పరికరం
GenericName[tg]=Мошини ҳисоб
GenericName[th]=เครื่องคิดเลข
GenericName[tk]=Çot
GenericName[tr]=Hesap Makinesi
GenericName[tt]=Sansanaq
GenericName[uk]=Калькулятор
GenericName[uz]=Калкулятор
GenericName[ven]=Tshithusauvhalela
GenericName[vi]=Máy tính
GenericName[wa]=Carculete
GenericName[xh]=Isixhobo sokubala
GenericName[zh_CN]=计算器
GenericName[zh_HK]=計數機
GenericName[zh_TW]=計算機
GenericName[zu]=Umshini Wokubala We-Gnome
Comment=Desktop calculator
Icon=accessories-calculator
TryExec=/usr/bin/xdg-launch
Exec=xdg-launch --chain Calculator
Categories=Preferred;
X-NoHistory=true
