[Desktop Entry]
Type=Application
Name=Text Editor
Name[af]=Teksredigeerder
Name[am]=የጽሑፍ ማቀናጃ
Name[ar]=محرّر نصوص
Name[ast]=Editor de Testu
Name[as]=টেক্সট সম্পাদক
Name[az]=Mətn Editoru
Name[be@latin]=Tekstavy redaktar
Name[be]=Тэкставы рэдактар
Name[bg]=Текст Редактор
Name[bn_IN]=টেক্সট এডিটার
Name[bn]=টেক্সট সম্পাদক
Name[br]=Embanner testennoù
Name[bs]=Tekst editor
Name[ca]=Editor de text
Name[ca@valencia]=Editor de text
Name[crh]=Metin Muarriri
Name[cs]=Textový editor
Name[cy]=Golygydd Testun
Name[da]=Tekstredigering
Name[de]=Texteditor
Name[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
Name[el]=Επεξεργαστής κειμένου
Name[en@shaw]=𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
Name[eo]=Tekstredaktilo
Name[es]=Editor de textos
Name[et]=Tekstiredaktor
Name[eu]=Testu-editorea
Name[fa]=ویرایشگر متن
Name[fi]=Tekstimuokkain
Name[fo]=Tekstritil
Name[fr]=Éditeur de texte
Name[fy]=Tekst Bewurker
Name[ga]=Eagarthóir Téacs
Name[gl]=Editor de Textos
Name[gu]=લખાણ સંપાદક
Name[he]=עורך טקסט
Name[hi]=पाठ संपादक
Name[hr]=Uređivač teksta
Name[hsb]=Wobdźěłar tekstow
Name[hu]=szövegszerkesztő
Name[hy]=Տեքստի խմբագրիչ
Name[id]=Penyunting Teks
Name[is]=Textaritill
Name[it]=Editor di testo
Name[ja]=テキストエディタ
Name[ka]=ტექსტის რედაქტორი
Name[kk]=Мәтін түзетушісі
Name[km]=កម្មវិធី​វាយ​អត្ថបទ
Name[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko]=글월 편집기
Name[ku]=Edîtora Nivîsê
Name[la]=Scripta Edere
Name[lo]=ເຄື່ອງມືແກ້ໄຂຂໍ້ຄວາມ
Name[lt]=Tekstų redaktorius
Name[lv]=Teksta redaktors
Name[mai]=पाठ संपादक
Name[mg]=Fanovana lahabolana
Name[mk]=Уредувач на текст
Name[ml]=എഴുത്തിടം
Name[mn]=Текст боловсруулагч
Name[mr]=पाठ्य संपादक
Name[ms]=Editor Teks
Name[mt]=Editur tat-test
Name[nb]=Tekstredigering
Name[nds]=Texteditor
Name[ne]=पाठ सम्पादक
Name[nl]=teksteditor
Name[nn]=Tekstredigering
Name[nso]=Mofetosi wa Sengwalwana
Name[oc]=Editor de tèxt
Name[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
Name[pa]=ਪਾਠ ਸੰਪਾਦਕ
Name[pl]=Edytor tekstu
Name[ps]=ليک سمونګر
Name[pt_BR]=Editor de texto
Name[pt]=Editor de Texto
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[rw]=Umuhinduzi w'inyandiko
Name[se]=Čállinprográmma
Name[si]=පෙළ සකසනය
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedil
Name[sq]=Editues teksti
Name[sr@latin]=Vilenjakova beležnica
Name[sr@Latn]=Uređivač teksta
Name[sr]=Уређивач текста
Name[ss]=Sihleli sembhalo
Name[sv]=Textredigerare
Name[ta]=உரை திருத்தி
Name[te]=పాఠ్యము సరికూర్పరి
Name[tg]=Муҳаррири матн
Name[th]=เครื่องมือแก้ไขข้อความ
Name[tk]=Metin Editçi
Name[tr]=Metin Düzenleyici
Name[tt]=Mäten Tözätkeçe
Name[ug]=تېكىست تەھرىرلىگۈچ
Name[uk]=Текстовий редактор
Name[uz]=Матн таҳрирчи
Name[ven]=Musengulusi wa Manwalwa
Name[vi]=Trình biên soạn text
Name[wa]=Aspougneu di tecse
Name[xh]=Umhleli wombhalo
Name[zh_CN]=文本编辑器
Name[zh_HK]=文字編輯器
Name[zh_TW]=文字編輯器
Name[zu]=Umhleli Wokubhaliweyo
GenericName=Text Editor
GenericName[af]=Teksredigeerder
GenericName[am]=የጽሑፍ ማቀናጃ
GenericName[ar]=محرّر نصوص
GenericName[ast]=Editor de Testu
GenericName[as]=টেক্সট সম্পাদক
GenericName[az]=Mətn Editoru
GenericName[be@latin]=Tekstavy redaktar
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текст Редактор
GenericName[bn_IN]=টেক্সট এডিটার
GenericName[bn]=টেক্সট সম্পাদক
GenericName[br]=Embanner testennoù
GenericName[bs]=Tekst editor
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[crh]=Metin Muarriri
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd Testun
GenericName[da]=Tekstredigering
GenericName[de]=Texteditor
GenericName[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en@shaw]=𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de textos
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstimuokkain
GenericName[fo]=Tekstritil
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekst Bewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de Textos
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=szövegszerkesztő
GenericName[hy]=Տեքստի խմբագրիչ
GenericName[id]=Penyunting Teks
GenericName[is]=Textaritill
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტის რედაქტორი
GenericName[kk]=Мәтін түзетушісі
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=글월 편집기
GenericName[ku]=Edîtora Nivîsê
GenericName[la]=Scripta Edere
GenericName[lo]=ເຄື່ອງມືແກ້ໄຂຂໍ້ຄວາມ
GenericName[lt]=Tekstų redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mg]=Fanovana lahabolana
GenericName[mk]=Уредувач на текст
GenericName[ml]=എഴുത്തിടം
GenericName[mn]=Текст боловсруулагч
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Editor Teks
GenericName[mt]=Editur tat-test
GenericName[nb]=Tekstredigering
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=teksteditor
GenericName[nn]=Tekstredigering
GenericName[nso]=Mofetosi wa Sengwalwana
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
GenericName[pa]=ਪਾਠ ਸੰਪਾਦਕ
GenericName[pl]=Edytor tekstu
GenericName[ps]=ليک سمونګر
GenericName[pt_BR]=Editor de texto
GenericName[pt]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[rw]=Umuhinduzi w'inyandiko
GenericName[se]=Čállinprográmma
GenericName[si]=පෙළ සකසනය
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sq]=Editues teksti
GenericName[sr@latin]=Vilenjakova beležnica
GenericName[sr@Latn]=Uređivač teksta
GenericName[sr]=Уређивач текста
GenericName[ss]=Sihleli sembhalo
GenericName[sv]=Textredigerare
GenericName[ta]=உரை திருத்தி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[tg]=Муҳаррири матн
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tk]=Metin Editçi
GenericName[tr]=Metin Düzenleyici
GenericName[tt]=Mäten Tözätkeçe
GenericName[ug]=تېكىست تەھرىرلىگۈچ
GenericName[uk]=Текстовий редактор
GenericName[uz]=Матн таҳрирчи
GenericName[ven]=Musengulusi wa Manwalwa
GenericName[vi]=Trình biên soạn text
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli wombhalo
GenericName[zh_CN]=文本编辑器
GenericName[zh_HK]=文字編輯器
GenericName[zh_TW]=文字編輯器
GenericName[zu]=Umhleli Wokubhaliweyo
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[am]=የጽሑፍ ፋይሎች ያስተካክሉ
Comment[ar]=حرّر الملفات النصية
Comment[as]=টেক্সট নথিপত্ৰ সম্পাদনা
Comment[ast]=Editar ficheros de testu
Comment[az]=Mətn fayllarını redaktə edin
Comment[be@latin]=Redahuj tekstavyja fajły
Comment[be]=Зьмяніць тэкставыя файлы
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca@valencia]=Editeu fitxers de text
Comment[ca]=Editeu fitxers de text
Comment[crh]=Metin dosyelerini tarir et
Comment[cs]=Upravovat textové soubory
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ཚུ་ ཞུན་དག་རྐྱབས་
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en@shaw]=𐑧𐑛𐑦𐑑 𐑑𐑧𐑒𐑕𐑑 𐑓𐑲𐑤𐑟
Comment[eo]=Redakti tekst-dosierojn
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[id]=Menyunting berkas teks
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kk]=Мәтіндік файлдарды түзету
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta failus
Comment[mai]=पाठ फाइलकेँ संपादित करू
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=പദാവലി ഫയലുകളില്‍ മാറ്റം വരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=मजकूर फाइल्स् संपादीत करा
Comment[ms]=Edit fail teks
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[ne]=पाठ फाइल सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxt
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[ps]=ليکن دوتنې سمول
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[si]=පෙළ ගොනු සකසන්න
Comment[sk]=Úprava textových súborov
Comment[sl]=Enostavni urejevalnik besedilnih datotek
Comment[sq]=Ndrysho file teksti
Comment[sr@latin]=Uređivač tekstualnih dokumenata
Comment[sr]=Уређивач текстуалних докумената
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும்
Comment[te]=పాఠ్య ఫైలులను సరిచేయి
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[ug]=تېكىست ھۆججەتلىرىنى تەھرىرلەش
Comment[uk]=Редактор текстових файлів
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔
Icon=text-editor
TryExec=/usr/bin/xdg-launch
Exec=xdg-launch --chain TextEditor
Categories=Preferred;
X-NoHistory=true
