[Desktop Entry]
Type=Application
Name=Run Command
GenericName=Launcher
Comment=Run a command from the desktop in the background.
Icon=system-run
TryExec=/usr/bin/xdg-launch
Exec=xdg-launch --chain Launcher
NoDisplay=true
Categories=Preferred;
