[Desktop Entry]
Type=Application
Name=Mail Client
Name[af]=Poskliënt
Name[ar]=البريد الألكتروني
Name[az]=Poçt Alıcısı
Name[be]=Паштовы кліент
Name[bg]=Пощенски клиент
Name[bn]=ইমেইল ক্লায়েন্ট
Name[br]=Kliant postel
Name[bs]=Program za čitanje elektronske pošte
Name[ca]=Client de correu electrònic
Name[cs]=Klient pro čtení elektronické pošty
Name[cy]=Dibynnydd Ebost
Name[da]=E-mail klient
Name[de]=E-Mail-Programm
Name[el]=Πελάτης mail
Name[eo]=Legi kaj sendi retpoŝton
Name[es]=Cliente de correo electrónico
Name[et]=E-posti klient Meiliklient
Name[eu]=Posta bezeroa
Name[fa]=کارگیر پست الکترونیکی
Name[fi]=Sähköpostiohjelma
Name[fo]=Postforrit
Name[fr]=Logiciel de messagerie électronique
Name[fy]=E-post programma
Name[ga]=Cliant Ríomhphoist
Name[gl]=Cliente de correo
Name[gu]=મેઇલ ગ્રાહક
Name[he]=תוכנית דואר
Name[hi]=डाकिया
Name[hr]=Program za čitanje elektronske pošte
Name[hu]=Levelezőprogram
Name[id]=Klien Mail
Name[is]=Póstforrit
Name[it]=Programma di posta elettronica
Name[ja]=メールクライアント
Name[ka]=ფოსტა
Name[km]=កម្មវិធី​អ៊ីមែល
Name[ko]=편지를 주고 받는 프로그램
Name[lo]=ໄຄແເອັນຈົດຫມາຍເອເລັກໂຕນິກ
Name[lt]=Pašto klientas
Name[lv]=Pasta Klients
Name[mk]=Програма за електронска пошта
Name[mn]=Э-Захиа-Програм
Name[mr]=मेल क्लाएंट
Name[ms]=Klien Mel
Name[mt]=Klijent tal-imejl
Name[nb]=E-postklient
Name[nds]=Nettpostprogramm
Name[nl]=E-mailclient
Name[nn]=Lesing og sending av e-post
Name[nso]=Moreki wa Poso
Name[oc]=Programari de correu electrònic
Name[pa]=ਪੱਤਰ ਕਲਾਂਇਟ
Name[pl]=Klient poczty
Name[pt]=Client de E-mail
Name[pt_BR]=Cliente de E-mail
Name[ro]=Program de poştă electronică
Name[ru]=Клиент электронной почты
Name[rw]=Umukiriya w'Ubutumwa
Name[se]=Boastaprográmma
Name[sk]=Klient elektronickej pošty
Name[sl]=Program za e-pošto
Name[sr@Latn]=Program za e-poštu
Name[sr]=Програм за e-пошту
Name[ss]=Likhasimende leliposi
Name[sv]=E-postklient
Name[ta]=அஞ்சல் உறுப்பினர்
Name[tg]=Коргири почтаи эллектроникӣ
Name[th]=โปรแกรมไคลเอนต์จดหมายอิเล็กทรอนิกส์
Name[tr]=Posta İstemcisi
Name[tt]=Xat Kliente
Name[uk]=Клієнт електронної пошти
Name[uz]=Хат-хабар клиенти
Name[ven]=Mushumisani na poso
Name[vi]=Trình thư
Name[wa]=Cliyint d' emilaedje
Name[xh]=Umxumi Wemeyile
Name[zh_CN]=邮件程序
Name[zh_TW]=郵件處理程式
Name[zu]=I-Mail Client
GenericName=Mail Client
GenericName[af]=Poskliënt
GenericName[ar]=البريد الألكتروني
GenericName[az]=Poçt Alıcısı
GenericName[be]=Паштовы кліент
GenericName[bg]=Пощенски клиент
GenericName[bn]=ইমেইল ক্লায়েন্ট
GenericName[br]=Kliant postel
GenericName[bs]=Program za čitanje elektronske pošte
GenericName[ca]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo electrónico
GenericName[et]=E-posti klient Meiliklient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارگیر پست الکترونیکی
GenericName[fi]=Sähköpostiohjelma
GenericName[fo]=Postforrit
GenericName[fr]=Logiciel de messagerie électronique
GenericName[fy]=E-post programma
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[gu]=મેઇલ ગ્રાહક
GenericName[he]=תוכנית דואר
GenericName[hi]=डाकिया
GenericName[hr]=Program za čitanje elektronske pošte
GenericName[hu]=Levelezőprogram
GenericName[id]=Klien Mail
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტა
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[ko]=편지를 주고 받는 프로그램
GenericName[lo]=ໄຄແເອັນຈົດຫມາຍເອເລັກໂຕນິກ
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta Klients
GenericName[mk]=Програма за електронска пошта
GenericName[mn]=Э-Захиа-Програм
GenericName[mr]=मेल क्लाएंट
GenericName[ms]=Klien Mel
GenericName[mt]=Klijent tal-imejl
GenericName[nb]=E-postklient
GenericName[nds]=Nettpostprogramm
GenericName[nl]=E-mailclient
GenericName[nn]=Lesing og sending av e-post
GenericName[nso]=Moreki wa Poso
GenericName[oc]=Programari de correu electrònic
GenericName[pa]=ਪੱਤਰ ਕਲਾਂਇਟ
GenericName[pl]=Klient poczty
GenericName[pt]=Client de E-mail
GenericName[pt_BR]=Cliente de E-mail
GenericName[ro]=Program de poştă electronică
GenericName[ru]=Клиент электронной почты
GenericName[rw]=Umukiriya w'Ubutumwa
GenericName[se]=Boastaprográmma
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr@Latn]=Program za e-poštu
GenericName[sr]=Програм за e-пошту
GenericName[ss]=Likhasimende leliposi
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் உறுப்பினர்
GenericName[tg]=Коргири почтаи эллектроникӣ
GenericName[th]=โปรแกรมไคลเอนต์จดหมายอิเล็กทรอนิกส์
GenericName[tr]=Posta İstemcisi
GenericName[tt]=Xat Kliente
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Хат-хабар клиенти
GenericName[ven]=Mushumisani na poso
GenericName[vi]=Trình thư
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxumi Wemeyile
GenericName[zh_CN]=邮件程序
GenericName[zh_TW]=郵件處理程式
GenericName[zu]=I-Mail Client
Comment=E-Mail utility
Comment[ca]=Eina de correu electrònic
Comment[cs]=Nástroj pro e-mail
Comment[da]=E-post-redskab
Comment[de]=E-Mail-Programm
Comment[dz]=མཁོ་ཕན་ཆེ་བའི་གློག་འཕྲིན་
Comment[es]=Utilidad de correo-e
Comment[et]=E-maili utiliit
Comment[eu]=Posta elektronikoaren utilitatea
Comment[fi]=Sähköpostiohjelma
Comment[fr]=Utilitaire de gestion du courriel
Comment[gl]=Utilidade de correo electrónico
Comment[hu]=Levelezőprogram
Comment[id]=Utilitas E-Mail
Comment[it]=Programma di posta elettronica
Comment[ja]=電子メールユーティリティ
Comment[nb]=E-postprogram
Comment[ne]=इमेल उपयोगिता
Comment[nl]=E-mail programma
Comment[pa]=ਈ-ਪੱਤਰ ਉਪਯੋਗਤਾ
Comment[pl]=Klient poczty e-mail
Comment[pt]=Cliente de E-Mail
Comment[pt_BR]=Utilitário de e-mail
Comment[ro]=Program de mail
Comment[ru]=Утилита эл. почты
Comment[sk]=Pomôcka na elektronickú poštu
Comment[sl]=Pripomoček elektronske pošte
Comment[sq]=Instrument E-Mail
Comment[sr@latin]=Alat za e-poštu
Comment[sr]=Алат за е-пошту
Comment[sv]=E-postverktyg
Comment[tr]=E-posta aracı
Comment[uk]=Поштова програма
Comment[vi]=Tiện ích thư điện tử
Comment[wa]=Usteye d' emilaedje
Comment[zh_CN]=电子邮件工具
Comment[zh_HK]=電郵公用程式
Comment[zh_TW]=電子郵件公用程式
Icon=internet-mail
TryExec=/usr/bin/xdg-launch
Exec=xdg-launch --chain MailReader
Categories=Preferred;
X-NoHistory=true
