[Desktop Entry]
Type=Application
Name=Evolution
Name[ar]=إيفُليوشن
Name[be]=Evolution - Эвалюцыя
Name[dz]=ཨི་བོ་ལུ་ཤཱན།
Name[fa]=اوولوشن
Name[hi]=एवोल्यूशन
Name[ka]=ევოლუშენი
Name[ko]=에볼루션
Name[mn]=Эволюшин
Name[ne]=इभोल्युसन
Name[or]=କ୍ରମବିକାଶ
Name[pa]=ਈਵੇਲੂਸ਼ਨ
Name[rw]=Impinduka
Name[si]=ඉවෝලුශන්
Name[sr@latin]=Evolucija
Name[sr]=Еволуција
Name[ta]=எவல்யூஷன்
Name[te]=ఎవాల్యూషన్
Name[xh]=I-Evolution
GenericName=Groupware Suite
GenericName[ar]=حِزمة Groupware
GenericName[ast]=Suite de trabayu en grupu
GenericName[be@latin]=Pakiet dla kalektyŭnaj pracy
GenericName[bg]=Програма за работа в група
GenericName[ca@valencia]=Aplicacions de treball en grup
GenericName[ca]=Aplicacions de treball en grup
GenericName[cs]=Sada groupware
GenericName[cy]=Cyfres Meddalwedd Grŵp
GenericName[da]=Samarbejdsprogramsuite
GenericName[de]=Groupware-Suite
GenericName[dz]=གུ་རུབ་ཝེར་ སུཊི།
GenericName[es]=Suite de trabajo en grupo
GenericName[et]=Grupitöövahend
GenericName[eu]=Talde-lanerako suitea
GenericName[fi]=Ryhmätyöohjelmisto
GenericName[fr]=Suite de travail collaboratif
GenericName[ga]=Sraith Feidhmchlár Grúpa-Earraí
GenericName[gl]=Suite de Groupware
GenericName[gu]=ગ્રુપવેર સ્યુટ
GenericName[hi]=ग्रूपवेयर सूट
GenericName[hu]=Csoportmunka-szoftver
GenericName[it]=Suite groupware
GenericName[ja]=グループウェア・スイートです。
GenericName[kn]=ಗ್ರೂಪ್‌ವೇರ್ ಸೂಟ್
GenericName[ko]=그룹웨어 모음
GenericName[lt]=Grupinio darbo įrankis
GenericName[lv]=Programmatūras komplekts
GenericName[mr]=ग्रुपवेअर संच
GenericName[ms]=Sut Groupware
GenericName[nb]=Gruppevareløsning
GenericName[ne]=ग्रूपवेयर सुट
GenericName[nl]=Groupware suite
GenericName[nn]=Gruppevarepakke
GenericName[or]=Groupware ସମୂହ
GenericName[pa]=ਗਰੁੱਪਵੇਅਰ ਸੂਟ
GenericName[pl]=Pakiet do pracy grupowej
GenericName[pt]=Groupwise Suite
GenericName[pt_BR]=Suíte de Groupware
GenericName[ro]=Suită Groupware
GenericName[ru]=Пакет для групповой работы
GenericName[sl]=Zbirka za skupinsko delo
GenericName[sq]=Suite Groupware
GenericName[sr@latin]=Paket Groupware
GenericName[sr]=Пакет Groupware
GenericName[sv]=Grupprogramvarusvit
GenericName[ta]=குழுக்களுக்கான மென்பொருள்
GenericName[te]=సమూహతరహా సమసమితి
GenericName[th]=ชุดกรุ๊ปแวร์
GenericName[tr]=Groupwise Takımı
GenericName[uk]=Пакет для групової роботи
GenericName[vi]=Bộ phần mềm nhóm (Groupware)
GenericName[xh]=I-Groupware Suite
GenericName[zh_CN]=Groupwise 套件
GenericName[zh_HK]=Groupware 套裝軟件
GenericName[zh_TW]=Groupware 套裝軟體
X-GNOME-FullName=Evolution Mail and Calendar
X-GNOME-FullName[af]=Evolution pos en kalender
X-GNOME-FullName[ar]=بريد و تقويم إيفُليوشِن
X-GNOME-FullName[as]=Evolution মেইল বৰ্ষপঞ্জি
X-GNOME-FullName[ast]=Corréu y calendariu d'Evolution
X-GNOME-FullName[be@latin]=Pošta j kalandar Evolution
X-GNOME-FullName[bg]=Пощенски клиент и календар (Evolution)
X-GNOME-FullName[bn]=Evolution মেইল ও ক্যালেন্ডার
X-GNOME-FullName[bn_IN]=Evolution মেইল ও বর্ষপঞ্জি
X-GNOME-FullName[ca@valencia]=Correu i calendari de l'Evolution
X-GNOME-FullName[ca]=Correu i calendari de l'Evolution
X-GNOME-FullName[cs]=Pošta a kalendář Evolution
X-GNOME-FullName[cy]=Ebost a Chalendr Evolution
X-GNOME-FullName[da]=Evolutions E-post og Kalender
X-GNOME-FullName[de]=Evolution-E-Mail und -Kalender
X-GNOME-FullName[dz]=ཨི་བོ་ལུ་ཤཱན་ ཡིག་འཕྲིན་དང་ ཟླ་ཐོ་
X-GNOME-FullName[es]=Correo y calendario de Evolution
X-GNOME-FullName[et]=Evolutioni E-post ja kalender
X-GNOME-FullName[eu]=Evolution-en posta eta egutegia
X-GNOME-FullName[fi]=Evolution-sähköposti ja -kalenteri
X-GNOME-FullName[fr]=Messagerie et calendrier d'Evolution
X-GNOME-FullName[ga]=Post agus Féilire Evolution
X-GNOME-FullName[gl]=Correo e calendario do Evolution
X-GNOME-FullName[gu]=ઈવોલ્યુશન મેઈલ અને કેલેન્ડર
X-GNOME-FullName[he]=דואר ויומן Evolution
X-GNOME-FullName[hi]=एवोल्यूशन डाक और पंचांग
X-GNOME-FullName[hu]=Evolution levelező és naptár
X-GNOME-FullName[it]=Email e calendario Evolution
X-GNOME-FullName[ja]=Evolution のメールとカレンダ
X-GNOME-FullName[kn]=Evolution ಮೈಲ್ ಹಾಗು ಕ್ಯಾಲೆಂಡರ್
X-GNOME-FullName[ko]=에볼루션 메일 및 달력
X-GNOME-FullName[lt]=Evolution paštas ir kalendorius
X-GNOME-FullName[mk]=Evolution пошта и календар
X-GNOME-FullName[ml]=Evolution മെയിലും കാലെണ്ടറും
X-GNOME-FullName[mr]=Evolution मेल आणि दिनदर्शिका
X-GNOME-FullName[nb]=Evolution e-post og kalender
X-GNOME-FullName[nl]=Evolution e-mail en agenda
X-GNOME-FullName[nn]=Evolution e-post og kalender
X-GNOME-FullName[oc]=Corrièls e calendièr Evolution
X-GNOME-FullName[or]=Evolution କ୍ଯାଲେଣ୍ଡର ବସ୍ତୁ
X-GNOME-FullName[pa]=ਈਵੇਲੂਸ਼ਨ ਮੇਲ ਅਤੇ ਕੈਲੰਡਰ
X-GNOME-FullName[pl]=Evolution - poczta i kalendarz
X-GNOME-FullName[ps]=اېوليوشن ليک او کليز
X-GNOME-FullName[pt]=Email e Calendário Evolution
X-GNOME-FullName[pt_BR]=Correio e agenda do Evolution
X-GNOME-FullName[ro]=Calendar și Email Evolution
X-GNOME-FullName[ru]=Электронная почта и календарь Evolution
X-GNOME-FullName[sk]=Pošta a Kalendár Evolution
X-GNOME-FullName[sl]=Koledar in pošta Evolution
X-GNOME-FullName[sq]=Evolution - Posta dhe kalendari
X-GNOME-FullName[sr@latin]=Pošta i kalendar Evolucije
X-GNOME-FullName[sr]=Пошта и календар Еволуције
X-GNOME-FullName[sv]=Evolutions e-post och kalender
X-GNOME-FullName[ta]=எவல்யூஷன் மின்னஞ்சல் மற்றும் நாள்காட்டி
X-GNOME-FullName[te]=ఎవల్యూషన్ క్యాలెండర్ మరియు మెయిల్
X-GNOME-FullName[th]=เมลและปฏิทินของ Evolution
X-GNOME-FullName[tr]=Evolution Posta ve Takvimi
X-GNOME-FullName[uk]=Електронна пошта та календар Evolutuion
X-GNOME-FullName[vi]=Thư tín và Lịch Evolution
X-GNOME-FullName[zh_CN]=Evolution 邮件及日历
X-GNOME-FullName[zh_HK]=Evolution 郵件與行事曆
X-GNOME-FullName[zh_TW]=Evolution 郵件與行事曆
Comment=Manage your email, contacts and schedule
Comment[af]=Bestuur pos, kontakte en skedule
Comment[ar]=قُم بإدارة بريدك الكتروني، متراسليك وجدولك
Comment[as]=আপোনাৰ ই-মেইল একাউন্টসমূহকে এখানে বিন্যাস কৰক
Comment[ast]=Xestione'l so corréu-e, contautos y calendariu
Comment[be@latin]=Pracuj z poštaj, kantaktami j pracoŭnym raskładam
Comment[bg]=Управление на поща, контакти и разписания
Comment[bn]=ই-মেইল, পরিচিতি ও কর্মতালিকা এখানে কনফিগার করুন
Comment[bn_IN]=ই-মেইল, পরিচিতি ও কর্মতালিকা এখানে কনফিগার করুন
Comment[ca@valencia]=Gestioneu els correus electrònics, contactes i horaris
Comment[ca]=Gestioneu els correus electrònics, contactes i horaris
Comment[cs]=Spravujte svůj e-mail, kontakty a rozvrh
Comment[da]=Håndter dine e-breve, kontakter og skema
Comment[de]=Ihre E-Mails, Kontakte und Kalender verwalten
Comment[dz]=ཁྱོད་རའི་གློག་འཕྲིན་དང་ འབྲེལ་ས་ དེ་ལས་ འཆར་རིམ་ཚུ་ འཛིན་སྐྱོང་འབད་
Comment[el]=Διαχείριση της αλληλογραφίας, των επαφών και του χρόνου σας
Comment[en_GB]=Manage your e-mail, contacts and schedule
Comment[es]=Gestione su correo-e, contactos y calendario
Comment[et]=Oma e-posti, kontaktide ja kalendri haldamine
Comment[eu]=Kudeatu zure posta-kontuak, kontaktuak eta antolaketa
Comment[fi]=Hallitse sähköposteja, yhteystietoja ja ajan käyttöä
Comment[fr]=Gèrer vos courriels, contacts et agendas
Comment[ga]=Bainstigh do chuid ríomhphoist, do chuid teagmhálacha agus do sceideal
Comment[gl]=Xestionar o seu correo, contactos e calendario
Comment[gu]=તમારું ઈમેઈલ, સંપર્કો અને સમયક્રમની વ્યવસ્થા કરો
Comment[he]=נהל את הדוא"ל, אנשי הקשר ולוח הזמנים שלך
Comment[hi]=अपना ईमेल संपर्क व योजना प्रबंधित करें
Comment[hu]=E-mailek, névjegyek és határidők kezelése
Comment[it]=Gestisce le proprie email, i contatti e progetti
Comment[ja]=E-メールや連絡先、予定などを管理します
Comment[kn]=ನಿಮ್ಮ ಇಮೈಲ್‌, ಸಂಪರ್ಕ ವಿಳಾಸಗಳನ್ನು ಹಾಗು ಕಾರ್ಯಕ್ರಮಗಳನ್ನು ನಿರ್ವಹಿಸು
Comment[ko]=전자메일, 연락처, 일정을 관리합니다
Comment[lt]=Tvarkykite savo el. paštą, kontaktus ir kalendorių
Comment[mk]=Менаџирајте со Вашата е-пошта, контакти и распоред
Comment[ml]=നിങ്ങളുടെ ഈ മെയില്‍ , കോണ്ടാക്റ്റുകള്‍, ഷെഡ്യൂള്‍ ഇവിടെ ക്രമീകരിക്കുക
Comment[mr]=तुमचे ईमेल, संपर्क व वेळपत्रकाचे निरीक्षण करा
Comment[nb]=Håndter e-post, kontakter og kalender
Comment[nl]=Uw e-mail, adresboek en agenda beheren
Comment[nn]=Handsama epost, kontaktar og timeplan
Comment[or]=ଆପଣଙ୍କ ମେଲକୁ ପରିଚାଳନା କରନ୍ତୁ, ଯୋଗାଯୋଗ ଏବଂ କାର୍ଯ୍ୟସୂଚୀ
Comment[pa]=ਆਪਣਾ ਈ-ਮੇਲ ਅਕਾਊਂਟ, ਸੰਪਰਕ ਅਤੇ ਸ਼ੈਡਿਊਲ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzanie wiadomościami, kontaktami i planami
Comment[ps]=خپل برېښليکونه، اړيکلوري او مهالوېش سمبال کړﺉ
Comment[pt]=Para gerir o seu email, contactos e compromissos
Comment[pt_BR]=Gerencie seus e-mails, contatos e agenda
Comment[ro]=Administrează email-urile, contactele și întâlnirile
Comment[ru]=Ваша электронная почта, контакты и расписание
Comment[sl]=Upravljajte s pošto, stiki in nalogami
Comment[sq]=Menazhon postën personale, kontakte dhe projekte
Comment[sr@latin]=Upravlja poštom, kontaktima i obavezama
Comment[sr]=Управља поштом, контактима и обавезама
Comment[sv]=Hantera din e-post, kontakter och schema
Comment[ta]=உங்கள் மின்னஞ்சல் தொடர்புகள் மற்றும் கால ஒதுக்கீடுகள் ஆகியவற்றை மேலாளவும்
Comment[te]=మీ ఈమెయిల్ ను నిర్వహించుము, పరిచయాలు మరియు ప్రణాళిక
Comment[th]=จัดการอีเมล ที่อยู่ติดต่อ และนัดหมายของคุณ
Comment[tr]=E-postalarını, bağlantılarınızı ve randevularınızı yönetin
Comment[uk]=Ваша електронна пошта та розклад
Comment[vi]=Quản lý thư tín, lịch biểu và các liên lạc
Comment[zh_CN]=配置您的电子邮件，联系人和日程表
Comment[zh_HK]=管理你的郵件、聯絡人和行程
Comment[zh_TW]=管理您的郵件、連絡人和行程
Icon=internet-mail
TryExec=/usr/bin/xdg-launch
Exec=xdg-launch --chain MailReader
NoDisplay=true
Categories=Preferred;
