[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=XDG Assist
Comment=Assist WM with XDG program launching
Icon=utilities-system-monitor
TryExec=/usr/bin/xdg-assist
Exec=/usr/bin/xdg-assist --replace
Terminal=false
Categories=XDG;System;Monitor;
NotShowIn=GNOME;KDE;XFCE;
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
